.mobile_preview_container {
  position: relative;
  width: 240px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.preview {
  width: 200px;
  height: 323px;
}

.preview_left {
  top: 40px;
  left: 70px;
  position: absolute;
}

.preview_right {
  top: 40px;
  right: 80px;
  position: absolute;
}
